<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ML-DE</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body style="background-color: #f0f1f2; margin: 10px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: black !important">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Assignment 2</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            </ul>
          </div>
        </div>
      </nav>
      <br/>
      <div class="container" style="background-color: red !important; height: 150px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) !important; flex-direction: column; display: flex;justify-content: center; align-items: center;">
       <h1 style="color: white; text-align: center; font-size: 32pt;">Distaster response</h>
       <h3 style="color: white; text-align: center; font-size: 10pt;">Analyze message data for disaster reponse</h3>
      </div>
      <form action="/" method="POST">
      <div class="container" style="background-color: white !important; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) !important;">
        <div class="row justify-content-center">
          <div class="col-md-6 custom-container">
            <!-- Your content goes here -->
            <h3 style="color: red; padding: auto;">Input message</h3>
            <div class="input-group">
                <textarea id="input_data" class="form-control"  name="input_data" aria-label="With textarea" placeholder="Message" style="margin-bottom: 10px;"></textarea>
            </div>
            <button id="populate-btn" type="submit" style="margin-bottom: 10px; background-color: red !important; border-color: #FF0000; border-width: 0px;;" class="btn btn-dark">Predict categories</button>
          </div>
        </div>
      </div>
    </form>
      <div class="container" style="background-color: white; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)" >
        <h2 style="margin: 20px; ">{{test}}</h2>
        <div class="table-responsive">
          <!-- Add .table class for styling -->
          <table class="table" style="margin: 20px; background-color: white; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)">
            <thead>
              <tr style="font-size: 9pt;">
                <th scope="col">Related</th>
                <th scope="col">Request</th>
                <th scope="col">Offer</th>
                <th scope="col">Aid related</th>
                <th scope="col">Medical help</th>
                <th scope="col">Medical products</th>
                <th scope="col">Search and rescue</th>
                <th scope="col">Security</th>
                <th scope="col">Military</th>
                <th scope="col">Child alone</th>
                <th scope="col">Water</th>
                <th scope="col">Food</th>
                <th scope="col">Shelter</th>
                <th scope="col">Clothing</th>
                <th scope="col">Money</th>
                <th scope="col">Missing people</th>
                <th scope="col">Refugees</th>
                <th scope="col">Death</th>
                <th scope="col">Other aid</th>
                <th scope="col">Infrastructure related</th>
                <th scope="col">Transport</th>
                <th scope="col">Buildings</th>
                <th scope="col">Electricity</th>
                <th scope="col">Tools</th>
                <th scope="col">Hospitals</th>
                <th scope="col">Shops</th>
                <th scope="col">Aid centers</th>
                <th scope="col">Other infrastructure</th>
                <th scope="col">Weather related</th>
                <th scope="col">Floods</th>
                <th scope="col">Storm</th>
                <th scope="col">Fire</th>
                <th scope="col">Earthquake</th>
                <th scope="col">Cold</th>
                <th scope="col">Other weather</th>
                <th scope="col">Direct report</th>
                <th scope="col">Genre direct</th>
                <th scope="col">Genre news</th>
                <th scope="col">Genre social</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for item in data %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="plotly-graph"  class="container" style="background-color: white !important; height: 450px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) !important; display: flex;justify-content: center; align-items: center; margin-top: 30px;">
    <div id="genre_bar_chart" style="margin:30px;"></div>
    <script>
        var genre_bar_chart_data = {{ genre_bar_chart_json | safe }};
        Plotly.plot('genre_bar_chart', genre_bar_chart_data);
    </script>
      </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </body>
</html>
